body{
	background-image: url(../img/vue.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
	font-family: 'Arsenal', sans-serif;
	/*font-family: 'Ubuntu', sans-serif;*/
	/*font-family: 'Merriweather', serif;*/
	background-color: #F5DEB3;
}
header{
	
	height:50px;
	/*width*/
	background-color:#4169E1;
	border-radius: 15px 15px 15px 15px;
	margin:0;
	margin-right: 0%;
	margin-left: 0%;


}

h1{
	text-align: center;
	display: inline-block;
	color:#FFFFFF;

}
#down{
	color:#F5DEB3;
}

#sous-titrel{
	color: #336699;
	text-shadow: 0 0 7px rgba(0,0,0, 0.5);
}