header{
	background:url('../img/vue.jpg') no-repeat;
}

#contact{

	background:none;
}

#portofiolio{
 
 display: inline-block;

}
#about div.col-md-4.col-md-offset-1 p{
	text-align: center;
}
#about div.col-md-4.col-md-offset-1{
	border-radius: 8px;
	background-color: #4785b8;
}
#about div.col-md-4.col-md-offset-2{
	border-radius: 8px;
	background-color: #4785b8;

	
}

.parallax-window {
    min-height: 400px;
    background: transparent;
}
#portfolio-item{
	
}


